*{
  margin: 0;
  padding: 0;
}
.background>img{
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  /*height: 100vh;*/
  width: 100%
}

.road{
    position: absolute;
    bottom: 0;
    width: 200%;
    height: 50px;
    
    animation: road 1s linear infinite;
  
}
.road img{
  width: 100%;
}
@keyframes road  {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-400px);
    }
}
.city{
    position: absolute;
    bottom: 10px;
    width: 700%;
    animation: city 4s linear infinite;
}
.city>img{
    height: 300px;
    width: 2000px;
    left: 0;
    
}
@keyframes city {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-400px);
    }
}
.car{
    position: absolute;
    bottom: 0;
    z-index: 1;
  
}
.car >img{
    width: 400px;
    height: 150px;
    transform: translateX(200px);
}
.tyres{
    position: absolute;
    bottom: 85px;
    z-index: 2;
    transform: translateX(-50px);
}
.tyres> img{
    width: 65px;
    height: 65px;
    animation: tyres 1s linear infinite;
}
 .front-tyre{
    left: 530px;
    position: absolute;
}
 .back-tyre{
    left: 288px;
    position: absolute;
}
@keyframes tyres {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg)
    }
}
@media only screen and (max-width: 576px){
  .car img{
    width: 300px;
    height: 150px;
    transform: translateX(30px);
}
   .front-tyre{
    left: 290px;
}
 .back-tyre{
    left: 105px;
}

}
body{overflow:hidden;}